<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuario Bloqueado - FourParks</title>
</head>
<body>
<div style="font-family: Arial, sans-serif; max-width: 600px; margin: 0 auto; padding: 20px;">
    <h2>Alerta: Usuario Bloqueado</h2>
    <p>Hola Gerente,</p>
    <p>Queremos informarte que el siguiente usuario ha sido bloqueado por el sistema:</p>
    <p>Nombre de Usuario: <strong th:text="${body}"></strong></p>
    <p>Por favor, ingrese al link si desea desbloquear al usuario.</p>
    <p>Gracias por tu atención.</p>
    <p>El equipo de FourParks</p>
</div>
</body>
</html>
